
@sprite .formFieldGradient {
  	gwt-image: 'fieldGradient';
}

@sprite .checkboxSpriteUnchecked {
	gwt-image: 'checkboxUnchecked';
}

@sprite .checkboxSpriteChecked {
	gwt-image: 'checkboxChecked';
}

@sprite .radioboxSpriteUnchecked {
	gwt-image: 'radioboxUnchecked';
}

@sprite .radioboxSpriteChecked {
	gwt-image: 'radioboxChecked';
}

.formField {
	height: 30px;
	margin-left: 5px;
}

.formView {
	overflow-y: auto;
}

.formField input[type=text], select {
	height: 24px;
}

.formField td textarea {
	background-color: white;
}

.formField input, select, textarea {
	font-size: 16px;
    border-top: 1px #7A8891 solid;
    border-left: 1px #909FAB solid;
    border-right: 1px #909FAB solid;
    border-bottom: 1px #A3B5C2 solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 3px;
    outline: none;
}

.formField textArea {
	font-family:"Arial", sans-serif;
}

.formField input:focus, select:focus, textarea:focus {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.formFieldValidationError {
	color: red;
}
.formFieldValid {
	color: black;
}

.formCellSubtext {
	font-size: 12px;
	margin-left: 15px;
}

.formLabel {
	font-size: 16px;
}

.formGroup {
	padding: 5px;
}

.formCell {
	padding: 8px;
}

.formGroupLabel {
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
}

.formCheckbox {
	height: 24px;
	width: 24px;
	margin-right: 10px;
	font-size: 16px;
    padding: 3px;
}

.formCheckbox img {
	vertical-align:middle;
}

.listView {
	padding: 0px;
	margin: 0px;
	border-width: 1px 0px 0px 0px;
	border-color: #bbb;
	border-style: solid;
}

.listViewItem {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px 8px 5px 8px;
	border-width: 0px 1px 1px 1px;
	border-color: #bbb;
	border-style: solid;
}
.listItemSubtext {
	font-size: 10px;
}
.listViewItem:hover {
	cursor:pointer;
}
.listViewItem img {
	vertical-align:middle;
	padding-right: 3px;
}
.listViewHeader {
	padding: 5px 8px 5px 8px;
	border: 1px #777 solid;
}
.listViewHeader:hover {
	cursor:pointer;
}
